# https://editorconfig.org
root = true

# Global Generic Settings
[*]
charset = utf-8
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 120
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# Intellij IDEA specific
ij_continuation_indent_size = 8

# Markdown
[{*.markdown,*.md}]
trim_trailing_whitespace = false

# YAML
[{*.yaml,*.yml}]
indent_size = 2
